* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 720px;
  width: 100%;
  background: #010225;
  padding: 0 86px;

  &Title {
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
  }

  &Text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &Left {
    padding-top: 110px;
    width: 100%;
    max-width: 633px;
  }

  &Right {
    img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}


.topBar {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(12, 13, 46, 0.9);
  border-radius: 0;
  height: 82px;
  width: 100%;

  &Menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.benefits {
  height: 744px;
  background: #0C0D2E;
  padding-top: 180px;

  &Header {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  &Title {
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height, or 135% */

    text-align: center;

    color: #FFFFFF;
  }
  &Text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    text-align: center;

    color: #FFFFFF;

  }

  &List {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.features {
  height: 1247px;

  background: #0C0D2E;
  border-radius: 0;
  padding-top: 188px;

  &Header {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  &Title {
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    /* or 135% */

    text-align: center;

    color: #FFFFFF;
  }

  &Text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */

    text-align: center;

    color: #FFFFFF;
  }

  &List {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 40px;

    > div:first-child {
      margin-top: 40px;
      //display: flex;
      //flex-direction: column;
      //gap: 93px;
    }
  }
}

.prices {
  height: 1669px;
  background: #010225;
  padding-top: 44px;

  &List {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &Actions {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
